<div class="flex flex-col items-center justify-center text-center gap-12 bg-teal-50 h-screen mx-auto overflow-none p-8 md:p-0">
    <span class="text-teal-500 uppercase text-4xl sm:2xl font-bold">Récapitulatif de la simulation</span>
    <span class="text-xl">Merci {{formData.civility}} <strong>{{ formData.firstname }} {{ formData.lastname }}</strong></span>

    <div *ngIf="results.isEligible; else notEligible" class="flex flex-col gap-12">
        <span class="text-teal-500 font-bold">Félicitations ! Vous êtes éligible à notre programme d’aides et d’accompagnement.</span>

        <div class="mx-auto grid max-w-lg grid-cols-1 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-2 sm:gap-x-10 lg:mx-0 lg:max-w-none">
            <div class="flex flex-col gap-8 items-center">
                <span class="font-bold text-2xl">Coût du projet</span>
                <span class="text-4xl font-bold">{{ formatAmount(results.projectCost) }}</span>
            </div>
            <div class="flex flex-col gap-8 items-center">
                <span class="font-bold text-2xl">Montant aide Effy</span>
                <span class="text-4xl text-teal-500 font-bold">{{ formatAmount(results.effyAmount) }}</span>
            </div>
        </div>
    </div>

    <ng-template #notEligible>
        <span class="text-red-500 font-bold">Désolé, vous n'êtes pas éligible à notre programme d’aides et d’accompagnement.</span>
    </ng-template>

    <button (click)="navigateToPersonalInfoPage()" class="shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
        Refaire une simulation
    </button>
</div>